
.p-404{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
}
.p404_column > span {
    text-transform: uppercase;
    color: #a4a4a4;
    font-weight: 700;
    font-size: calc(13px + 0 * (100vw - 960px) / 960);
    line-height: 1.84;
    letter-spacing: .3em;
}
.p404_column > a {
    margin-top: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: calc(13px + 0 * (100vw - 960px) / 960);
    line-height: 1.84;
    letter-spacing: .3em;
}