
.p-home_cases_case {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.p-home_cases_case:not(:first-child){
    margin-top: 280px;
}
.p-home_cases_case .phs_column_left {
    width: 12.5%;
}

.p-home_cases_case .phs_column_center {
    width: 81.25%;
}
.phs_type_case span {
    color: #a4a4a4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc(9px + 0 * (100vw - 960px) / 960);
    line-height: 1.5;
    letter-spacing: .2em;
}
.phs_main_case>a {
    display: flex;
    flex-direction: row;
}

.phs_case__media {
    width: 61.538%;
    position: relative;
    overflow: hidden;
}
.phs_case_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30.769%;
    margin-left: 7.692%;
}
.phs_case_content h3 {
    font-weight: 300;
    font-size: calc(36px + 0 * (100vw - 960px) / 960);
    line-height: 1.25;
    letter-spacing: .05em;
}
.phs_case_content p {
    font-size: 13px;
    width: 90%;
    color: #a4a4a4;
    letter-spacing: .05em;
    line-height: 2;
    margin-top: 40px;
}