.c-home-news {
    border-top: solid 1px #000;
}

.chn__column {
    width: 78%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.chn__column .chn__column_left {
    width: 21.429%;
    height: 100%;
    z-index: 5;
}

.chn__column .chn__column_right {
    width: 78.571%;
    z-index: 5;
}

.c-home__news__subtitle {
    margin-top: 27px;
}

.c-home__news__subtitle span {
    font-weight: 700;
    font-size: calc(12px + 0 * (100vw - 960px) / 960);
    line-height: 1.8;
    letter-spacing: .3em;
    color: #555;
    text-transform: uppercase;
}

.chn__column_right a {
    font-size: 30px;
    line-height: 2;
    letter-spacing: .2em;
    font-family: serif;
    text-transform: uppercase;
    color: #a4a4a4;
    margin-right: 9% !important;
    z-index: 999;
}