
.c-header {
    height: 20px;
    width: 89%;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.c-menu {
    text-align: right;
}
.c-menu > a {
    color: #555;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: .34em;
    text-transform: uppercase;
    width: 110px;
    float: right;
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.c-menu > a.color-active{
    color: #0c0c0d;
}