* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    display: block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.font_weight_light {
    font-weight: 300;
}

h2 {
    margin: 0 !important;
}